.modal-backdrop.show {
  opacity: 0.4 !important;
}

.ModalHead {
  width: 28%;
}

.modal-content {
  background-color: #272b35 !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80% !important;
  }
}

.ModalHead .btn-close {
  outline: none;
}
