* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
.main-container {
  display: flex;
  justify-content: space-between;
}

.sideBar {
  background-color: #242933;
  color: white;
  height: 100vh;
  z-index: 10;
}
.eventsBar {
  background-color: #1d1e26;
  color: white;
  height: 100vh;
  z-index: 10;
}

.top_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #2b303b;
}

.logo {
  font-size: 2.2rem;
}

.bars {
  font-size: 2rem;
}
.bars_low {
  font-size: 1.5rem;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border: 4px solid transparent;
  white-space: nowrap;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  color: white;
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgb(45, 51, 89);
}
.active {
  color: white;
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgb(45, 51, 89);
}
main {
  padding: 20px;
}
.icon,
.link_text {
  font-size: 1.3rem;
}

.sideContent {
  display: flex;
  justify-content: space-between;
  flex: 4;
  padding-top: 6rem;
  background-color: rgb(29, 30, 38);
}

.navBar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #242933;
  color: white;
  padding-bottom: 0;
}

.userContainer {
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
}

.user {
  text-align: center;
  flex: 2;
}

.iconsContainer {
  font-size: 1.5rem;
}
.iconsContainer svg {
  margin: 0 1rem;
}

.navBarContainer {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.user h4 {
  margin-bottom: 0;
  margin-right: 0.8rem;
}
